.successStory__content {
	display: flex;
	justify-content: space-between;
	position: relative;
}
.successStory__content .icon:nth-child(1) {
	position: absolute;
	top: -10%;
	left: -10%;
}
.successStory__content_text , .successStory__title , .successStory__list {
	display: flex;
	flex-direction: column;	
}
.successStory__content_text {
	width: 100%;
	max-width: 45%;
}
.successStory__content_text {
	align-items: baseline;
}
.successStory__content_text h3 , 
.successStory__content_text h2 {
	text-align: start;
	margin: 1rem 0;
}

.successStory__list {
	width: 100%;
	list-style-image: url('/public/img/home/successStory/list-style-img.svg');
	list-style-position: inside;
	margin: 1rem 0;
	gap: 1rem;
	justify-content: center;
}

.successStory__list_item {
	font-family: Nunito;
	font-weight: 600;
	font-size: 1.1rem;
	line-height: 1.2rem;
	letter-spacing: 0%;
	color : var(--blue)
}

.successStory__images {
	width: 100%;
	object-fit: cover;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
}
.successStory__images img:nth-child(1){
	max-width: 100%;
}
.successStory__images_icon {
	position: absolute;
}
.successStory__images img:nth-child(2){
	bottom: -1rem;
	left: 0rem ;
}

.successStory__images img:nth-child(3){
	bottom: -1rem;
	right: 0rem;
}
.successStory__images img:nth-child(4){
	top: -1rem ;
	right: 0;
}
@media (width < 1100px) {
	.successStory__images img:nth-child(2){
	bottom: -3rem;
	left:-3rem ;
}
	.successStory__images img:nth-child(3){
	bottom: -3rem;
	right: -3rem;
}

	.successStory__images img:nth-child(4){
	top: -3rem;
	right: -3rem;
}
}
@media (width < 900px){
	.successStory__images {
		display: none;
	}
	.successStory__content_text {
		max-width: 100%;
	}
}

@media (width < 500px){
	.successStory__content .icon:nth-child(1){
		width: 3rem;
	}
}